*,
*::after,
*::before {
        box-sizing: border-box;
}

* {
        margin: 0;
}

html {
        color-scheme: light dark;
}

img {
        max-width: 100%;
        display: block;
}

body {
        font-family: 'Roboto', sans-serif;
        background-color: #f5f4ef;

}

iframe {
        margin-top: 10vh;
        width: 70%;
        height: 70vh;
}

.scroll-tracker {
        position: fixed;
        inset: 0 0 auto;
        height: 0.5rem;
        background-color: blueviolet;
        transform-origin: left;
        z-index: 100;
}

.scroll-tracker+div {
        margin: auto;
        margin-top: 5vh;
        width: 50%;
        display: flex;
        justify-content: center;
        color: orangered;
}

.navbar-nav li {
        padding-left: 30px;
        padding-right: 30px;
}

.navbar {
        border-bottom: 3px solid black;
        font-weight: bold;
}

.nav-flex {
        display: flex;
        gap: 15%;
}

.nav-flex>p {
        margin-top: 2vh;
        color: orangered;
}

.navbar+div {
        display: flex;
        width: 90%;
        margin: auto;
        margin-top: 5vh;
        justify-content: center;
        color: indigo
}

#footer {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 60vh;
}

@keyframes gradient {
        0% {
                background-position: 0% 50%;
        }

        50% {
                background-position: 100% 50%;
        }

        100% {
                background-position: 0% 50%;
        }
}

#companyDesc {
        width: 90%;
        text-align: center;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 5vh;
}

#carouselWithIndicators {
        width: 90%;
        margin: auto;
}

.carousel-item {
        width: 100%;
        height: 85vh;
}

.carousel-item>img {
        width: 100%;
        height: 100%;
}

#videoSection {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8vh;
}

#mission {
        margin: auto;
        margin-top: 10vh;
        width: 90%;
}

.mission-flex {
        display: flex;
        flex-direction: column;
        gap: 7vh;
        font-size: 40px;
        font-weight: bold;
}

.mission-flex>div>img {
        height: 50vh;
}

.flex-basic {
        display: flex;
        justify-content: space-between;
        gap: 5vh;
}

#principles {
        background-color: black;
        color: white;
        margin-top: 10vh;
        padding: 10vh;
}

.meteor {
        width: 35vh;
        height: 35vh;
}

.flex {
        display: flex;
}

.grid-flex-col {
        display: flex;
        flex-direction: column;
        gap: 3vh;
}

.principles-grid-basic {
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 10vh;
}

.principles-grid-flex-col-2 {
        display: flex;
        flex-direction: column;
        gap: 15vh;
}

.principles-grid-flex-col-1 {
        display: flex;
        flex-direction: column;
        gap: 50vh;
}

.grid-principles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5vh;
}

.grid-principles-card>img {
        margin-bottom: 7vh;
}

.grid-principles-card>h4 {
        margin-bottom: 1vh;
}

/* footer css */

.flex-footer-secondCell {
        display: flex;
        justify-content: space-between;
}

.flex-footer-secondCell h4 {
        font-weight: bold;
}

.footer-firstCell {
        width: 70%;
}

.footer-grid-basic {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8vh;
        width: 90%;
        margin: auto;
}

.footer-icon-flex {
        display: flex;
        justify-content: space-between;
}

#footer i[class*="fa-youtube"]:hover {
        color: red;
}

#footer i[class*="fa-facebook"]:hover {
        color: blue;
}

#footer i[class*="fa-square-instagram"]:hover {
        color: orange;
}

#footer i[class*="fa-square-whatsapp"]:hover {
        color: green;
}

#footer i[class*="fa-twitter"]:hover {
        color: blue;
}

#footer i {
        color: black;
}

#footer>hr {
        font-weight: bold;
        height: 5px;
        width: 100%;
        margin: auto;
        margin-bottom: 7vh;
        color: white;
}

#footer>div:nth-child(1) {
        width: 90%;
        justify-content: space-between;
        margin: auto;
        padding-top: 5%;
        padding-bottom: 5%;
}

#footer>div:nth-child(1)>button {
        color: white;
        background-color: black;
        height: 8vh;
        width: 35vh;
}

#logo {
        width: 150px;
        height: 60px;
}

@media screen and (max-width: 480px) {

        .grid-basic,
        .grid-FAQ {
                grid-template-columns: repeat(1, 1fr);
        }

        .grid-principles {
                grid-template-columns: repeat(1, 1fr);
        }

        .principles-grid-basic {
                grid-template-columns: repeat(1, 1fr);
        }

        .footer-grid-basic {
                grid-template-columns: repeat(1, 1fr);
        }

        .flex {
                flex-wrap: wrap;
        }
}

@media screen and (max-width: 750px) {
        .grid-basic {
                grid-template-columns: repeat(2, 1fr);
        }

        .principles-grid-basic {
                grid-template-columns: repeat(1, 1fr);
        }

        .grid-principles {
                grid-template-columns: repeat(2, 1fr);
        }

        .flex {
                flex-wrap: wrap;
        }
}