*,
*::after,
*::before {
        box-sizing: border-box;
}

* {
        margin: 0;
}

html {
        color-scheme: light dark;
}

img {
        max-width: 100%;
        display: block;
}

body {
        font-family: 'Roboto', sans-serif;
        background-color: #f5f4ef !important;
}

.scroll-tracker {
        position: fixed;
        inset: 0 0 auto;
        height: 0.5rem;
        background-color: olivedrab;
        transform-origin: left;
        z-index: 100;
}

.scroll-tracker+div {
        margin: auto;
        margin-top: 5vh;
        width: 50%;
        display: flex;
        justify-content: center;
        color: orangered;
}

.navbar-nav li {
        padding-left: 30px;
        padding-right: 30px;
}

.navbar {
        border-bottom: 3px solid black;
        font-weight: bold;
}

.nav-flex {
        display: flex;
        gap: 15%;
}

.nav-flex>p {
        margin-top: 2vh;
        color: orangered;
}

.navbar+div {
        display: flex;
        width: 90%;
        margin: auto;
        margin-top: 5vh;
        justify-content: center;
        color: indigo
}

/* custom styles for bootstrap pricing example start */

.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
}

@media (min-width: 768px) {
        .bd-placeholder-img-lg {
                font-size: 3.5rem;
        }
}

.b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
}

.bi {
        vertical-align: -.125em;
        fill: currentColor;
}

.nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
}

.nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
        z-index: 1500;
}

h1[class*="display-4 fw-normal text-body-emphasis"] {
        margin-top: 3vh;
        margin-bottom: 3vh;
}

h2[class*="display-6 text-center mb-4"] {
        margin-top: 3vh;
}

table[class*="table text-center"] {
        margin-top: 3vh;
}

.indigo {
        color: indigo !important;
}

.green {
        background-color: green;
}

.white {
        color: white;
}

/* .lightPink {
        background-color: rgba(255, 230, 230, 0.7);
} */

.orange {
        background-color: orange;
        color: white;
}

.red {
        background-color: red;
        color: white;
}

/* Bootstrap pricing example styles end */

.flex {
        display: flex;
}

.flex-footer-secondCell {
        display: flex;
        justify-content: space-between;
}

.flex-footer-secondCell h4 {
        font-weight: bold;
}

.footer-firstCell {
        width: 70%;
}

.footer-grid-basic {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8vh;
        width: 90%;
        margin: auto;
}

.footer-icon-flex {
        display: flex;
        justify-content: space-between;
}

.grid-flex-col {
        display: flex;
        flex-direction: column;
        gap: 3vh;
}

#footer i[class*="fa-youtube"]:hover {
        color: red;
}

#footer i[class*="fa-facebook"]:hover {
        color: blue;
}

#footer i[class*="fa-square-instagram"]:hover {
        color: orange;
}

#footer i[class*="fa-square-whatsapp"]:hover {
        color: green;
}

#footer i[class*="fa-twitter"]:hover {
        color: blue;
}

#footer i {
        color: black;
}

#footer {
        width: 100vw;
}

#footer>hr {
        font-weight: bold;
        height: 5px;
        width: 100%;
        margin: auto;
        margin-top: 7vh;
        margin-bottom: 7vh;
        color: black;
}

#footer>div:nth-child(1) {
        width: 90%;
        justify-content: space-between;
        margin: auto;
        padding-top: 5%;
        padding-bottom: 5%;
}

#footer>div:nth-child(1)>button {
        color: white;
        background-color: black;
        height: 8vh;
        width: 35vh;
}

#logo {
        width: 150px;
        height: 60px;
}